MONGODB_URI= # mongodb database url

JWT_SECRET_TOKEN= # aj533545d21522efc4ba2bfe31e5a28ac307b3ed39d86ed572e22b1e73a18e5793fa090ab12689c6019ba5dfbbfc532ec6d258b932681dba6f2c4bfcb950f3050f5ce616

PORT= #3000

EMAIL_SERVICE= #gmail

PASSWORD_SENDER_EMAIL= 

PASSWORD_SENDER_KEY= 

EMAIL_FROM=Task Manager <noreply@taskmanager.com>

# client URL for reset links
CLIENT_URL=http://localhost:5000
